
TrabPratMod2_Angular/appacai/.vercel/project.json
Desafio_Mod2_Angular/ngFood/.vercel/README.txt
Desafio_Mod1/.vercel/project.json
Desafio_Mod1/.vercel/README.txt
Desafio_Mod2_Angular/ngFood/.vercel/project.json
TrabPratMod1/.vercel/project.json
TrabPratMod1/.vercel/README.txt
