<div class="header">
  <mat-toolbar color="primary">
    <span>Pedido</span>
  </mat-toolbar>
</div>

<mat-list>
  <mat-list-item *ngIf="pedidoService.itens.length == 0"
    >Seu pedido está vazio.</mat-list-item
  >
  <ng-container *ngFor="let item of pedidoService.itens">
    <mat-list-item>
      <span class="flex-1">{{ item.produto.descricao }}</span>
      <span
        >{{ item.quantidade }} &times; R$
        {{ item.produto.preco | number: "0.2-2" }}</span
      >
    </mat-list-item>
  </ng-container>
  <mat-list-item>
    <strong class="flex-1">Total</strong>
    <strong>R$ {{ pedidoService.valorTotal | number: "0.2-2" }}</strong>
  </mat-list-item>
</mat-list>

<mat-toolbar>
  <a routerLink="/cardapio" mat-raised-button>Incluir mais itens</a>
  <span class="ml"></span>
  <button mat-raised-button (click)="pedidoService.limpaPedido()">
    Limpar
  </button>
  <span class="flex-1"></span>
  <button mat-raised-button color="accent">Concluir</button>
</mat-toolbar>
