<mat-toolbar>
  <mat-toolbar-row>
    <h2>Cardápio</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-icon matBadge=" {{ buyList.count }}" matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
    <span><a routerLink="/pedido">Ver Pedido</a></span>
    <router-outlet></router-outlet>
    <span>{{ buyList.total | number: "1.2" }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<table>
  <ng-container *ngFor="let item of cardapio; let i = index; let first = first">
    <tr *ngIf="first">
      <th>{{ item.categoria }}</th>
    </tr>
    <tr>
      <td>{{ item.descricao }}</td>
      <td>
        <Button mat-button color="accent" (click)="buyList.add(cardapio[i])"
          >Add</Button
        >
      </td>
      <td>{{ item.preco | number: "1.2" }}</td>
    </tr>
  </ng-container>
</table>
