<h2>{{ title }}</h2>

<div *ngIf="escolhaAte <= 1">
  <label *ngFor="let opcao of opcoes">
    <input
      (change)="setVol($event.target)"
      type="radio"
      name="{{ title }}"
      value="{{ opcao }}"
    />
    {{ opcao }}
  </label>
</div>
<div *ngIf="escolhaAte > 1">
  <p>
    Escolha até {{ escolhaAte }}
    <span
      >({{ escolhas.length }}
      {{ escolhas.length <= 1 ? "selecionado" : "selecionados" }})</span
    >
  </p>
  <label *ngFor="let opcao of opcoes">
    <input
      (change)="setAdd($event.target)"
      type="checkbox"
      value="{{ opcao }}"
    />
    {{ opcao }}
  </label>
</div>
